<div class="container mt-3">
    <div class="card align-items-center bg-light">
        <div class="card-block text-center pb-1">
            <h5 class="card-title">{{name}}</h5>         
            <ul>
                <li>Cuisine: {{cuisine}}</li>
                <li>Price Range: {{price_range}}</li>
                <li>Address: {{address}}</li>

            </ul>
        <a href="/restaurants/reviews/{{id}}" type="submit" class="btn btn-primary" id="reviews-btn">See Reviews</a>
        <a href="/restaurants/post/{{id}}" type="submit" class="btn btn-primary" id="post-btn">Submit Review</a>
        </div>
    </div>
</div>