<div class="container mt-3">
    {{#each this}}
    <div class="card align-items-center bg-light mb-3">
        <div class="card-block text-center pb-1 mb-2">
            <h5 class="card-title">{{restaurant.name}}</h5>
            
            <h6 class="card-subtitle mb-2 text-muted">Reviewed by: {{user.username}} on {{format_date created_at}}</h5>          
            
        <div>
            <h5>Atmosphere Rating</h5>
            <input id="atmosphere-rating" name="atmosphere" value={{atmosphere_rating}} class="rating" type="number" data-readonly="true" data-size="xs" >
        </div>
        <div>
            <h5>Food Rating</h5>
            <input id="food-rating" name="food" class="rating" value={{food_rating}} type="number" data-readonly="true" data-size="xs">
        </div>
        <div>
            <h5>Service Rating</h5>
            <input id="service-rating" name="service" class="rating" value={{service_rating}} type="number" data-readonly="true" data-size="xs">
        </div>
        <div>
            <h5>Overall Rating</h5>
            <input id="overall-rating" name="overall" class="rating" value={{overall_rating}} type="number" data-readonly="true" data-size="xs">
        </div>
            <h5>Review</h5>
            <p class="card-text bg-light">{{review}}</p>
        </div>
        <div class="mb-2">
            <a href="/dashboard/edit/{{id}}" type="submit" class="btn btn-primary" id="edit-btn">Edit Review</a>
            <a href="/dashboard" type="submit" class="btn btn-danger" id="delete-btn">Delete Review</a>
        </div>
    </div>
    {{/each}}
</div>



