<div class="container mt-4 bg-light rounded" id="form-container">
    <form class="pb-2" id="post-form">
        <div class="d-flex justify-content-center">
        <div>
            <h3>Edit your Review for {{ review.restaurant.name }}</h3>
        </div>
        </div>
        <div>
            <h4>Atmosphere Rating</h4>
            <input id="atmosphere-rating" name="atmosphere" value={{ review.atmosphere_rating }} class="rating" type="number">
        </div>
        <div>
            <h4>Food Rating</h4>
            <input id="food-rating" name="food" value={{ review.food_rating }} class="rating" type="number" >
        </div>
        <div>
            <h4>Service Rating</h4>
            <input id="service-rating" name="service"  value={{ review.service_rating }} class="rating" type="number" >
        </div>
        <div>
            <h4>Overall Rating</h4>
            <input id="overall-rating" name="overall" value={{ review.overall_rating }} class="rating" type="number" >
        </div>
        <div class="mb-3">
            <h4>Review</h4>
            <textarea class="form-control" id="review" name="review" rows="3">{{review.review}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" id="edit-review-btn">Submit</button>
        </div>
    </form>
</div>

<script src="/javascript/edit-review.js"></script>